doctype html
html
	head
		title View your results
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src= "https://code.jquery.com/jquery-3.1.1.js", integrity= "sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=", crossorigin= "anonymous")
		script(src= "/js/bootstrap.js")

	body
		nav.navbar.navbar-default.navbar-static-top
			.container-fluid
				// Brand and toggle get grouped for better mobile display
				.navbar-header
					a.navbar-brand(href='/') Take Control
				ul.nav.navbar-nav
					li
						a(href='/quiz') Quiz 
					li
						a(href='/options') Info
					li
						a(href="https://www.plannedparenthood.org/learn/birth-control") Planned Parenthood

		h1.quiz_title Birth Control Quiz Results
		h3.subtitle Based on your quiz, here is a method that might be right for you.

		
		.panel.panel-default
			.panel-heading
				h3.panel-title= name
			ul.list-group
				li.list-group-item
					b Description: 
					span  #{What}
				li.list-group-item
					b Cost: 
					span  #{Cost}
				li.list-group-item 
					b Longevity:
					span  #{Longevity}
				li.list-group-item
					b Benefits: 
					span  #{Pros}
				li.list-group-item
					b Problems: 
					span  #{Cons}	

		#links
			a.quiz.btn.btn-primary.btn-lg.btn-block(type='button', href="/options") Explore all options